.main-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    height: auto;
    color: #554F4F;
    text-decoration: none;
}